body{
background-image: url("../../assets/mainPage.jpg");
background-repeat:no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
}

.authedSecond{
    margin-left:20px;
    bottom: 20px;
}

.authedThird{
    width:90%;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}

.authedFourth{
    width:25%;
    background-image: url('../../assets/loginComp.jpg');
    background-size: 100% 100%;
    padding:2%;
    border-radius:8px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    box-shadow: 5px 5px 5px white;

}

.authedEmail{
    width:90%;
    padding:2.5%;
    border:none;
    border-radius:8px;
    font-size:15px;
    box-shadow: 2px 2px #c15ca1;
}

.authedPassword{
    margin-top: 30px;
    width:90%;
    padding:2.5%;
    border:none;
    border-radius:8px;
    font-size:15px;
    box-shadow: 2px 2px #c15ca1;
}

.authedSubmit{
    margin-top: 30px;
    width:60%;
    padding:2.5%;
    border:none;
    border-radius:8px;
    font-size:15px;
    background-color:white;
    box-shadow: 5px 5px  #c15ca1;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
   
}

.authedSubmitTwo{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction:row;
}


.authedSubmitText{
    font-size:22px;
    color:#c15ca1;
}